{% extends 'base.html' %}

{% block title %}

<title>Task List</title>

{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div>
    <h2 class="text-center" style="margin-top: 150px;">Hii {{request.user}}, Today's Game Plan</h2>
<table class="table-dark table table-striped table-hover table-borderless w-50 m-auto mt-5 ">
    {% for i in result %}
    <tr class="mt-2">
        {% if i.completed_status %}

            <td class=""><a href="{% url 'detail' i.id %}" class="p-3 text-decoration-none text-white-50 text-decoration-line-through">{{i.taskname}}</a></td>

        {% else %}

            <td class="fw-bold"><a href="{% url 'detail' i.id %}" class="p-3 text-decoration-none text-white">{{i.taskname}}</a></td>

        {% endif %}

        <td class="text-white-50">{{i.due_date}}</td>

        <td><a href="{% url 'update' i.id %}" class="link-light"><i class="fa-solid fa-pen-to-square text-white-50"></i></a></td>
        
        {% if i.completed_status %}
            <td><a href=""><i class="fa-solid fa-square-check" style="color: #00f01c;"></i></a></td>

        {% else %}
        <td><a href="{% url 'edit' i.id %}" class="link-light"><i class="fa-solid fa-square-check text-white-50"></i></a></td>
        {% endif %}
        
    </tr>
    <!-- <tr class="table-dark mt-2">
        <td class="fw-bold"><a href="" class="text-decoration-none text-white">{{i.taskname}}</a></td>
        <td class="text-white-50"><a href="" class="text-decoration-none text-white">{{i.due_date}}</a></td>
        <td><a href="" class="link-light"><i class="fa-solid fa-pen-to-square text-white-50"></i></a></td>
        <td><a href="" class="link-light"><i class="fa-solid fa-square-check text-white-50"></i></a></td>
    </tr> -->
    {% endfor %}
    
</table>
</div>

{% endblock %}
